*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}


h1
{
    font-size: 30pt;
    padding: 35px;
}

#calc_frame
{
    height: 100vh;
    text-align: center;
    background: url(bg-image.jpg);
    background-size: cover; 
}


#calc_body
{
    display: inline-block;
    background-color:rgb(102, 133, 224);
    padding:30px  30px;
    border-radius: 3%;
}

#screen
{
    height: 100px ;
    width: 270px;
    border-radius: 10%;
    margin-bottom: 10px;
    font-size: 30px;
}

input
{
    font-weight: 800;
    color: black;
    text-align: right;
    padding-right: 12px;
}

#buttons .num,#buttons .scr,#buttons .op{
    width: 70px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer; 
}

/*for delete an dclear buttons*/
.scr
{
    background-color: rgb(247, 48, 48);
}
.scr:hover
{
    background-color: rgb(252, 98, 98);
}

/*for number keys*/
.num
{
    background-color: rgb(68, 67, 67);
}
.num:hover
{
    background-color: rgb(161, 159, 159);
    color: black;
}

/*for operator keys*/
.op
{
    background-color: grey;
    
}
.op:hover
{
    background-color: white;
    color: black;
}

@media screen and (min-width: 320px) 
{
    html 
    {
      font-size: calc(16px + 6 * ((100vw - 320px) / (1000-320)));
    }

    #screen
    {
        width: 250px;
    }

    #buttons .num,#buttons .scr,#buttons .op
    {
        width: 60px;
        height: 60px;
        font-size: 15px;
    }


}

@media screen and (min-width: 1000px)
{
    html
    {
        font-size:22px;
    }    
}
  
